doctype 5
html
  head
    title Omg, 404!
  body
    div(style= "text-align: center")
      img(src= "/images/404.png", width="638", height="805")
      br
      p There, you broke it! Its all your fault, obviously, because it wasn't me who entered the wrong URL!<br /><small>Image by <a href="http://theoatmeal.com/">The Oatmeal</a></small>